/*.container{
  width: 100%;
  height: 100%;
  //background: rgba(255, 255, 255, 0.5);
  //background: url('../assets/images/sidebar-4.jpg');
  //vertical-align: middle;
  //background: #EEEEEE;

}

.label{
  //font-family: Bradley Hand ITC;
  font-weight: bolder;
  font-size: 10px;


}

.total{
  width: 100%;
  height: 100%;
  //text-align: center;
}

.buttonH{
  background-color:#ef5350;
  background-image:-webkit-linear-gradient(top, #ef5350 0%, #e53935 100%);
  background-image: linear-gradient(to bottom, #ef5350 0%, #e53935 100%);
  border-radius: 6px;
  color: white;
  //margin-bottom:2px;
  width: 50%;
  height: auto;
  box-shadow: 3px 3px 3px #999;
  border:solid 1px #e53935;
}

.hearder{
  width: 100%;
  height: 100%;
}
.bordure_verticale {
height: 100%;
width: 3px;
//padding-right: 6px;
border-right: 3px solid gray;
}

.flex1{
  //display: -webkit-flex;
  display: inline-flex;
  width: 100%;
  height: 100%
}
.flex{
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;


  //margin-left: 2.5%;
  //margin-right: 2.5%;

  justify-content: space-between;
}
.row1{
 height: 10%;
margin-bottom: 1.2%;
margin-top: 0.3%;
}
.row2{
  //background: green;
  height: 80%;
}
.row3{
  //background: black;
  height: 5%;
  //margin-top: .8%;

}

.img1{
  //margin: 2px;
  width: 100%;
  height: 100%;
  //background: url('../assets/images/sidebar-4.jpg');
  //background: rgb(255, 255, 255);
  //background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 3px 3px 3px #999;
  padding: -4px;


  //margin-left: 15px;
  //border:solid 0px #e53935;
}
.col1{
  vertical-align: middle;
  width: 90%;
  height: 100%;
  margin-top: auto;
  margin-left: 5%;
}
.col2{
  //margin: 4px;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #999;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
}
.line2{
  width: 100%;
  height: 100%;
}
.col3{
  //margin-top: 4px;
  //margin-left: 6px;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #999;
}
.col02{
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #999;
  width: 96%;
  height: 5%;
  vertical-align: middle;
  background: black;
  background:rgba(0, 0, 0, 0.5);
  margin-top: 3px;
  //opacity: .7;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 4px;
  //margin-left: 4px;
  margin-left: 1%;
  margin-right: 3%;
}
.col0{
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #999;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.9);
  //margin-bottom: 5px;
  vertical-align: middle;
}
.col00{
  border-bottom: 3px;
  box-shadow: 0px 0px 3px 0px #999;
}
.col01{
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #999;
  margin-right: auto;
}
.sidebar{
  position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center center;
}


.button-rouge{
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
  border-radius: 3px;
  padding: 2px;
  width: 100%;
}
.text-blanc{
  color:#FFFFFF;
  font-weight:lighter;
}

.text-blanc1{
  color:#ef5350;
  font-weight:bold;
  font-size:14px;
  font-family: sans-serif;

}
.dropdown-menu{
  width: 100%
}
.italic{
  font-style: italic;
}
.bold{
  font-weight:bold;
}

.border-rouge{
  border-color:#e53935;
  border: 3px;
}



#menu-accordeon {
  padding:0;
  //margin-top: 20px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  list-style:none;
  text-align: center;
  width: 100%;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#ef5350;
   background-image:-webkit-linear-gradient(top, #ef5350 0%, #e53935 100%);
   background-image: linear-gradient(to bottom, #ef5350 0%, #e53935 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #e53935;
   max-width: 200px
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:14px;
  font-weight: bold;

}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:12px;
  font-weight: normal;
}
#menu-accordeon li:hover {
   background: #729EBF
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

.header1{
  width: 5%;
  //height: 100%;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: auto;
  margin-right: 0px;
}
.header2{
  width: 5%;
  //height: 100%;
  margin-top: auto;
  //margin-left: -1.5%;
  margin-bottom: auto;
  margin-right: auto;
}
.header3{
  width: 5%;
  //height: 100%;
  margin: auto;
}
.header4{
  width: 1%;
  //height: 100%;
  margin: 0;
}
.headera{
  width: 5%;
}
.header5{
  width: 22%;
  //height: 30%;
  margin: auto;
}
.header6{
  width: 18%;
  //height: 100%;
  margin: auto;
}
.header7{
  width: 18%;
  //height: 100%;
  margin: auto;
}
.header8{
  width: 17%;
  //height: 100%;
  margin: auto;
}
.header9{
  width: 4%;
  //height: 30%;
  margin: auto;
}
.inp{
  height: 40%;
  margin: auto;
}
.size{
  //width: 100%;
  height: auto;
}

.minWidthCol1{
  min-width: 140px;
}

.minWidthCol2{
  width: 100%;
  height: 100%;
  min-width: 200px;
}

.minWidthCol3{
  width: 100%;
  height: 100%;
  min-width: 50px;
}*/

/* container */

.container{
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-left: 40px;

}

/* headerRow */

.headerRow{
  width:100%;
  height:70%;
  margin-bottom: 5px; 
  box-sizing: border-box;
  display: block;
}

/* header */

.headerRowInner{
  width:100%;
  height:95%;
}

/* headerCol */

.headerCol{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float:left;
   //background: rgb(0, 0, 0);
   //background: rgba(0, 0, 0, 0.5);
}

/* headerColInner */

.headerColInner{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.headerColInner2{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.headerColInner3{
  width:80%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
  min-width: 120px;

}

/* mainRow */

.mainRow{
  width:100%;
  height:83%;
  box-sizing: border-box;
  display: block;
}

/* mainRowCol1 */

.mainRowCol1{
  width: 100%;
  height: 100%;
  float: left;
  margin: 0;
  padding-top: 0;
  padding-right: 5px;
  padding-left: 0;
  padding-bottom: 5px;

}

/* mainRowCol2 */

.mainRowCol2 {
  width:100%;
  height:100%;
  float:left;
  margin : 0;
  padding-top:0;
  padding-right:5px;
  padding-left:0;
  padding-bottom:5px;
}

/* mainRowCol3 */

.mainRowCol3{
  width:100%;
  height:100%;
  float:left;
  margin : 0;
  padding-top:0;
  padding-right:0;
  padding-left:0;
  padding-bottom:5px;
}

/* mainRowColInner */

.mainRowColInner{
  width:100%;
  height:100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

/* footerRow */

.footerRow{
  width:100%;
  height:7%;
  display: block;
}

/* footerRowCol */

.footerRowCol{
  width:100%;
  height:100%;
  float:left;
  margin : 0;
  padding-bottom:5px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

/* footerRowColInner */

.footerRowColInner{
  width:100%;
  height:100%;
  //background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
}

/*Others Styles*/

.radius{
  border-radius: 6px;
  box-shadow: 3px 3px 3px #999;
}

.radiusLeft{
  border-top: 6px;
  border-left: 6px;
  box-shadow: 3px 3px 3px #999;
}

.radiusRight{
  border-bottom: 6px;
  border-right: 6px;
  box-shadow: 3px 3px 3px #999;
}

.radiusImg{
  border-radius: 25%;
}

.flexing{
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;

}
.img {
  background: url('../assets/images/sunrising.jpg') no-repeat center center fixed ;
   /* background-image: url('../assets/images/sunrising.jpg');
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;*/

}

.boutonSearch {
  border: 1px solid black;
  border-radius:12px 12px 12px 12px;
  background: #f5f5f5;
  //border:none;
  color:#555;
  font:bold 12px Verdana;
  padding:6px 0 6px 0;
  box-shadow:1px 1px 2px #FFF;
  min-width: 50px;
  outline: none;
  font-family: Comic Sans MS;
  padding: 5px;

}

.boutonDefault {
	border-radius:12px 0px 12px 0px;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #FFF;
  min-width: 50px;
  outline: none;
  font-family: Comic Sans MS ;
  padding: 5px;
  margin-right: 5px;
}

button:focus{
  box-shadow:3px 3px 5px #FFF;
  background: #3498db;
}

input{
  color: white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #bdc3c7;
  background: inherit;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
	outline: none;
  border-bottom: 2px solid white;
}
label{
  color: white;
  font-style: italic;
  font-size: 10px;
}


.head1{
  width: 100%;
  height: 9%;
  margin-bottom: 1%;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  padding: 0;
  display: block;
  //background: white;
}
.head2{
  width: 100%;
  height: 10%;
  display: block;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.head3{
  width: 100%;
  height: 80%;
  padding: 0;
  margin: 0;
}
/*.head3:hover{
  opacity: 0.9;

}*/
/* Fin Bouton rouge deroulant du menu */

.positionBoutonMenu{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.positionBoutonLang{
  width: 20%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  float: right;
}



.block{
  display: block;
}
.left{
  float: left;
}
.right{
  float: right;
}

a{
  color:white;
  font-size: 10px;
}

a:hover  {
  text-decoration: none;
  color: white;
}


/* Just added */

:host /deep/ router-outlet + *:not(nav) {
   width:100%;
   height: 100%;
}

.topMenu{
  border-top: 2px solid;
  width: 95%;
}
.TM{
  float: left;
}

.topMenu:hover{
  border-color: #002080;
}

.ablue:hover{
  color: #002080;
}


.aside{
  width: 100%;
  height: 25%;
  display: block;
  text-align: center;
   display: flex;
  align-items: center;
  justify-content: center;
}

.ancre{
  color: goldenrod;
}

/*Strip the ul of padding and list styling*/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
li {
    display:inline-block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
li a {
    display:block;
    min-width:140px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-image: linear-gradient(to bottom, #0052cc 0%, #000066 100%);
    text-decoration: none;
}
/*Hover state for top level links*/
li:hover a {
    background: #0052cc;
}
/*Style for dropdown links*/
li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 30px;
    line-height: 30px;
}
/*Hover state for dropdown links*/
li:hover ul a:hover {
    background: #0052cc;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
li ul {
    display: none;
}
/*Make dropdown links vertical*/
li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}
/*Display the dropdown on hover*/
ul li a:hover + .hidde, .hidde:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to bottom, #0052cc 0%, #000066 100%);
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
input[type=checkbox]{
    display: none;
}
/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 900px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}
@media screen and (min-width : 1450px){
.img {
  background: url('../assets/images/sunrising2.jpg') no-repeat center center fixed 

    }
}

#grayOutDiv
{
    background-color: #0052cc;
    color:white;
    text-align: center;
    width: 30px;
    height: 30%;
    overflow: hidden;
    font-size: 14px;
    margin-left:25%;
}
 
.flash-messageh
{
    //z-index: 10000;
    position: absolute; 
}
.title{
  width:50%;
  background: rgba(0,82,204,0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.htttc{
  width:100%;
  background: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
.htttc:hover{
  background: rgba(0,0,0,0.1);
  color: black;
}
.user{
  width:20%;
  height: 50%;
  margin-right: 10%;
  border: 1px solid #0052cc;
  float: left;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.user2{
  width:20%;
  height: 50%;
  margin-right: 10%;
  float: left;
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}
