<div class="container-fluid">
	<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
<!--
 <div id="wrapper">
			<div id="inner">
				<div id="carousel">
					<div class="slide">
						<div class="large"><img src="assets/images/1.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/2s.png" alt="dot2" width="350" /></div>
					</div>
					<div class="slide">
						<div class="large"><img src="assets/images/2.png" alt="cfs1" width="450" /></div>
						<div class="small"><img src="assets/images/3s.png" alt="cfs2" width="350" /></div>
					</div>
					<div class="slide">
						<div class="large"><img src="assets/images/3.png" alt="val1" width="450" /></div>
						<div class="small"><img src="assets/images/5s.png" alt="val2" width="350" /></div>
					</div>
          <div class="slide">
						<div class="large"><img src="assets/images/5.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/6s.png" alt="dot2" width="350" /></div>
					</div>
          <div class="slide">
						<div class="large"><img src="assets/images/6.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/7s.png" alt="dot2" width="350" /></div>
					</div>
          <div class="slide">
						<div class="large"><img src="assets/images/7.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/8s.png" alt="dot2" width="350" /></div>
					</div>
          <div class="slide">
						<div class="large"><img src="assets/images/8.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/exits.png" alt="dot2" width="350" /></div>
					</div>
          <div class="slide"> 
						<div class="large"><img src="assets/images/exit.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/vcs.png" alt="dot2" width="350" /></div>
					</div>
          <div class="slide">
						<div class="large"><img src="assets/images/vc.png" alt="dot1" width="450" /></div>
						<div class="small"><img src="assets/images/1s.png" alt="dot2" width="350" /></div>
					</div>
				</div>
				<div id="pager">
            <a href="#"><span>1</span></a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><span>4</span></a>
            <a href="#"><span>5</span></a>
            <a href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a> -
        </div>
			</div>
</div>-->
<!-- <div class="foot">

</div> -->




</div>
