.container-fluid{
    width: 40%;
    height: 30%;
    margin-top: 20%;
    margin-left: 30%;
    background: rgba(0,0,0,0.7);
    color: white;
}
.lig{
    width: 95%;
    height: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
}